* {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#intro h1 {
    font-size: 80px;
}

#intro h2 {
    font-size: 40px;
}

.fullbody {
    display:grid;
    grid-template-columns: 70% 30%;
}

.foodphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 20px;
}

#fullbody h4 {
    background: #afa272;
    color: white;
}

#fullbody h5 {
    background: #afa272;
    color: white;
    font-size: 30px;
}

.caption {
    border: 1px solid #ede7e2;
    padding: 20px;
    box-shadow: 5px 10px #ede7e2;
  }

#nav-placeholder {
    text-align: left;
}

.active {
    background-color: #ede7e2;
}

ul li {    
    float: left;
    /* background: #ccc; */
    height: 40px;
    line-height: 40px;
    list-style-type: none;
}
ul li a {
    display: block;
    padding: 0 20px;    
}

#box {border-style: dashed;}

#myMap {
    margin: 0 auto; height: 800px;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}


.block {
    display: none;
}

.caption {
    padding: 10px 20px;
}

.grid-item {
    width: 100%;  
    /* border: 1px solid #ede7e2; */
    border: 2px dashed #ede7e2;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    display: inline-block;
}

.enclosegroup {
    border: 5px solid #ede7e2;
}

.group {
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

.group2 {
    display:grid;
    grid-template-columns: 50% 50%;  
}

#top-navigation {
    background: #6f4e37;
    display:grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

#top-navigation a {
    color: white;
    font-size: 20px;
}

.subtitle {
    border: 5px solid #ede7e2;
    margin-bottom: 25px;
    margin: auto;
}
